<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
</head>

<body style="background-image: url(https://wallpaperaccess.com/full/1624847.jpg); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
    <br><br><br><br>
    <div style="width: 360px;height: 370px; margin: auto;background-color: white;border-radius: 5px; "><br>
        <h1 style="text-align: center;padding-top: 15px;color:rgb(76, 76, 76) ;">Login<br><br>
            <form th:action="@{/supermarket/check-user}" th:object="${user}" method="POST">
                <div><input type="text" th:field="*{email}" name="email" placeholder="Enter email"
                        style="width : 70%;padding: 7px;border-radius: 6px;border: 1px solid gray;" required /></div>
                <br>
                <div><input type="password" th:field="*{password}" name="password" placeholder="Enter password"
                        style="width : 70%;padding: 7px;border-radius: 6px;border: 1px solid gray;" required /> </div>
                <br>
                <button type="submit" style="width : 40%;height:27px;
               background-color: rgb(76, 76, 76); border-radius: 6px;border: 1px rgb(76, 76, 76); color: white;">Login</button>
            </form>
        </h1>
        <h6><a th:href="@{/supermarket/reset-pass}" style="color:rgb(76, 76, 76);text-align: left; padding-left:200px;">
                Forgot
                your
                password? </a></h6>



    </div>
</body>

</html>