<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login</title>
</head>

<body style="background-image: url(https://images.unsplash.com/photo-1578916171728-46686eac8d58?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c3VwZXJtYXJrZXR8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=800&q=60); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;">
    <br><br><br><br>
    <div style="width: 360px;height: 370px; margin: auto;background-color: white;border-radius: 5px; "><br>
        <h1 style="text-align: center;padding-top: 15px;color:darkgrey ;">Login<br><br>
            <form th:action="@{/supermarket/check-user}" th:object="${user}" method="POST">
                <div><input type="text" th:field="*{email}" name="email" placeholder="Enter email"
                        style="width : 70%;padding: 7px;border-radius: 6px;border: 1px solid gray;" /></div><br>
                <div><input type="password" th:field="*{password}" name="password" placeholder="Enter password"
                        style="width : 70%;padding: 7px;border-radius: 6px;border: 1px solid gray;" /> </div><br>
                <button type="submit" style="width : 40%;height:27px;
               background-color: darkgrey; border-radius: 6px;border: 1px darkgrey; color: white;">Login</button>
            </form>
        </h1>
        <h6><a th:href="@{/supermarket/reset-pass}" style="color:darkgrey;text-align: left; padding-left:200px;">
                Forgot
                your
                password? </a></h6>



    </div>
</body>

</html>