<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Order details</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Supermarket</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/supermarket/homepage}">Back</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a th:href="@{/supermarket/logout}"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
            </ul>
        </div>
    </nav>
    <h4 th:text="'Order ID: ' + ${orderID}"></h4>
    <h4 th:text="'Subtotal: ' + ${subtotal}"></h4>
    <h4 th:text="'Date Ordered: ' +${dateOrdered}"></h4>
    <h2>Order Items</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <th:block th:each="cartItem : ${cartItems}">
                <tr>
                    <td th:text="${cartItem.product.name}" />
                    <td th:text="${cartItem.quantity}" />
                    <td th:text="${cartItem.price}" />
                </tr>
            </th:block>
        </tbody>
    </table>
</body>

</html>